@charset "UTF-8";

/* Bold */
@font-face { 
  font-family: 'MS PGothic';
  src:  local('Noto Sans CJK JP Bold'),
        local('Noto Sans JP Bold'),
        url('moz-extension://__MSG_@@extension_id__/fonts/NotoSansCJKjp-Bold-subset.woff2') format('woff2'),
        local('BIZ UDPGothic');
  font-weight: bold;
  font-display: swap;
}
@font-face { 
  font-family: 'ms pgothic';
  src:  local('Noto Sans CJK JP Bold'),
        local('Noto Sans JP Bold'),
        url('moz-extension://__MSG_@@extension_id__/fonts/NotoSansCJKjp-Bold-subset.woff2') format('woff2'),
        local('BIZ UDPGothic');
  font-weight: bold;
  font-display: swap;
}
@font-face { 
  font-family: 'MS Pゴシック';
  src:  local('Noto Sans CJK JP Bold'),
        local('Noto Sans JP Bold'),
        url('moz-extension://__MSG_@@extension_id__/fonts/NotoSansCJKjp-Bold-subset.woff2') format('woff2'),
        local('BIZ UDPGothic');
  font-weight: bold;
  font-display: swap;
}
@font-face { 
  font-family: 'ms pゴシック';
  src:  local('Noto Sans CJK JP Bold'),
        local('Noto Sans JP Bold'),
        url('moz-extension://__MSG_@@extension_id__/fonts/NotoSansCJKjp-Bold-subset.woff2') format('woff2'),
        local('BIZ UDPGothic');
  font-weight: bold;
  font-display: swap;
}
@font-face { 
  font-family: 'ＭＳ Ｐゴシック';
  src:  local('Noto Sans CJK JP Bold'),
        local('Noto Sans JP Bold'),
        url('moz-extension://__MSG_@@extension_id__/fonts/NotoSansCJKjp-Bold-subset.woff2') format('woff2'),
        local('BIZ UDPGothic');
  font-weight: bold;
  font-display: swap;
}
@font-face { 
  font-family: 'MS Gothic';
  src:  local('Noto Sans CJK JP Bold'),
        local('Noto Sans JP Bold'),
        url('moz-extension://__MSG_@@extension_id__/fonts/NotoSansCJKjp-Bold-subset.woff2') format('woff2'),
        local('BIZ UDPGothic');
  font-weight: bold;
  font-display: swap;
}
@font-face { 
  font-family: 'ms gothic';
  src:  local('Noto Sans CJK JP Bold'),
        local('Noto Sans JP Bold'),
        url('moz-extension://__MSG_@@extension_id__/fonts/NotoSansCJKjp-Bold-subset.woff2') format('woff2'),
        local('BIZ UDPGothic');
  font-weight: bold;
  font-display: swap;
}
@font-face { 
  font-family: 'MS ゴシック';
  src:  local('Noto Sans CJK JP Bold'),
        local('Noto Sans JP Bold'),
        url('moz-extension://__MSG_@@extension_id__/fonts/NotoSansCJKjp-Bold-subset.woff2') format('woff2'),
        local('BIZ UDPGothic');
  font-weight: bold;
  font-display: swap;
}
@font-face { 
  font-family: 'ms ゴシック';
  src:  local('Noto Sans CJK JP Bold'),
        local('Noto Sans JP Bold'),
        url('moz-extension://__MSG_@@extension_id__/fonts/NotoSansCJKjp-Bold-subset.woff2') format('woff2'),
        local('BIZ UDPGothic');
  font-weight: bold;
  font-display: swap;
}
@font-face { 
  font-family: 'ＭＳ ゴシック';
  src:  local('Noto Sans CJK JP Bold'),
        local('Noto Sans JP Bold'),
        url('moz-extension://__MSG_@@extension_id__/fonts/NotoSansCJKjp-Bold-subset.woff2') format('woff2'),
        local('BIZ UDPGothic');
  font-weight: bold;
  font-display: swap;
}
@font-face { 
  font-family: "MS UI Gothic"; 
  src:  local('Noto Sans CJK JP Bold'),
        local('Noto Sans JP Bold'),
        url('moz-extension://__MSG_@@extension_id__/fonts/NotoSansCJKjp-Bold-subset.woff2') format('woff2'),
        local('BIZ UDPGothic');
  font-weight: bold;
  font-display: swap;
}
@font-face { 
  font-family: "メイリオ"; 
  src:  local('Noto Sans CJK JP Bold'),
        local('Noto Sans JP Bold'),
        url('moz-extension://__MSG_@@extension_id__/fonts/NotoSansCJKjp-Bold-subset.woff2') format('woff2'),
        local('BIZ UDPGothic');
  font-weight: bold;
  font-display: swap;
}
@font-face { 
  font-family: "Meiryo"; 
  src:  local('Noto Sans CJK JP Bold'),
        local('Noto Sans JP Bold'),
        url('moz-extension://__MSG_@@extension_id__/fonts/NotoSansCJKjp-Bold-subset.woff2') format('woff2'),
        local('BIZ UDPGothic');
  font-weight: bold;
  font-display: swap;
}
@font-face { 
  font-family: "YuGothic"; 
  src:  local('Noto Sans CJK JP Bold'),
        local('Noto Sans JP Bold'),
        url('moz-extension://__MSG_@@extension_id__/fonts/NotoSansCJKjp-Bold-subset.woff2') format('woff2'),
        local('BIZ UDPGothic');
  font-weight: bold;
  font-display: swap;
}
@font-face { 
  font-family: "Yu Gothic"; 
  src:  local('Noto Sans CJK JP Bold'),
        local('Noto Sans JP Bold'),
        url('moz-extension://__MSG_@@extension_id__/fonts/NotoSansCJKjp-Bold-subset.woff2') format('woff2'),
        local('BIZ UDPGothic');
  font-weight: bold;
  font-display: swap;
}
@font-face { 
  font-family: "游ゴシック"; 
  src:  local('Noto Sans CJK JP Bold'),
        local('Noto Sans JP Bold'),
        url('moz-extension://__MSG_@@extension_id__/fonts/NotoSansCJKjp-Bold-subset.woff2') format('woff2'),
        local('BIZ UDPGothic');
  font-weight: bold;
  font-display: swap;
}
@font-face { 
  font-family: "YuGothic Medium"; 
  src:  local('Noto Sans CJK JP Bold'),
        local('Noto Sans JP Bold'),
        url('moz-extension://__MSG_@@extension_id__/fonts/NotoSansCJKjp-Bold-subset.woff2') format('woff2'),
        local('BIZ UDPGothic');
  font-weight: bold;
  font-display: swap;
}
@font-face { 
  font-family: "Yu Gothic Medium"; 
  src:  local('Noto Sans CJK JP Bold'),
        local('Noto Sans JP Bold'),
        url('moz-extension://__MSG_@@extension_id__/fonts/NotoSansCJKjp-Bold-subset.woff2') format('woff2'),
        local('BIZ UDPGothic');
  font-weight: bold;
  font-display: swap;
}
@font-face { 
  font-family: "游ゴシック Medium"; 
  src:  local('Noto Sans CJK JP Bold'),
        local('Noto Sans JP Bold'),
        url('moz-extension://__MSG_@@extension_id__/fonts/NotoSansCJKjp-Bold-subset.woff2') format('woff2'),
        local('BIZ UDPGothic');
  font-weight: bold;
  font-display: swap;
}
@font-face { 
  font-family: "Yu Gothic UI"; 
  src:  local('Noto Sans CJK JP Bold'),
        local('Noto Sans JP Bold'),
        url('moz-extension://__MSG_@@extension_id__/fonts/NotoSansCJKjp-Bold-subset.woff2') format('woff2'),
        local('BIZ UDPGothic');
  font-weight: bold;
  font-display: swap;
}
@font-face { 
  font-family: "Meiryo UI"; 
  src:  local('Noto Sans CJK JP Bold'),
        local('Noto Sans JP Bold'),
        url('moz-extension://__MSG_@@extension_id__/fonts/NotoSansCJKjp-Bold-subset.woff2') format('woff2'),
        local('BIZ UDPGothic');
  font-weight: bold;
  font-display: swap;
}
@font-face { 
  font-family: "M PLUS Rounded 1c"; 
  src:  local('Noto Sans CJK JP Bold'),
        local('Noto Sans JP Bold'),
        url('moz-extension://__MSG_@@extension_id__/fonts/NotoSansCJKjp-Bold-subset.woff2') format('woff2'),
        local('BIZ UDPGothic');
  font-weight: bold;
  font-display: swap;
}
@font-face { 
  font-family: "Malgun Gothic"; 
  src:  local('Noto Sans CJK JP Bold'),
        local('Noto Sans JP Bold'),
        url('moz-extension://__MSG_@@extension_id__/fonts/NotoSansCJKjp-Bold-subset.woff2') format('woff2'),
        local('BIZ UDPGothic');
  font-weight: bold;
  font-display: swap;
}
@font-face { 
  font-family: "Arial Unicode MS"; 
  src:  local('Noto Sans CJK JP Bold'),
        local('Noto Sans JP Bold'),
        url('moz-extension://__MSG_@@extension_id__/fonts/NotoSansCJKjp-Bold-subset.woff2') format('woff2'),
        local('BIZ UDPGothic');
  font-weight: bold;
  font-display: swap;
}