@font-face { 
  font-family: 'MS PGothic';
  src: local('BIZ UDGothic');
}
@font-face { 
  font-family: 'ms pgothic';
  src: local('BIZ UDGothic');
}
@font-face { 
  font-family: 'MS Pゴシック';
  src: local('BIZ UDGothic');
}
@font-face { 
  font-family: 'ms pゴシック';
  src: local('BIZ UDGothic');
}
@font-face { 
  font-family: 'ＭＳ Ｐゴシック';
  src: local('BIZ UDGothic');
}
@font-face { 
  font-family: 'MS Gothic';
  src: local('BIZ UDGothic');
}
@font-face { 
  font-family: 'ms gothic';
  src: local('BIZ UDGothic');
}
@font-face { 
  font-family: 'MS ゴシック';
  src: local('BIZ UDGothic');
}
@font-face { 
  font-family: 'ms ゴシック';
  src: local('BIZ UDGothic');
}
@font-face { 
  font-family: 'ＭＳ ゴシック';
  src: local('BIZ UDGothic');
}
@font-face { 
  font-family: "MS UI Gothic"; 
  src: local('BIZ UDGothic');
}
@font-face { 
  font-family: "Open Sans"; 
  src: local('BIZ UDGothic');
}
@font-face { 
  font-family: "メイリオ"; 
  src: local('BIZ UDGothic');
}
@font-face { 
  font-family: "Meiryo"; 
  src: local('BIZ UDGothic');
}