body {
  width: 400px;
  font-family: "Noto Font", sans-serif;
  text-align: center;
  padding: 1em;
  font-size: 16px;
  line-height: 1.7;
  -webkit-font-smoothing: subpixel-antialiased;
}

@font-face { 
  font-family: 'Noto Font';
  src:  local('Noto Sans CJK JP'),
        url('chrome-extension://__MSG_@@extension_id__/fonts/NotoSansCJKjp-Regular-subset.woff2') format('woff2');
  font-display: swap;
}

@font-face { 
  font-family: 'Noto Font';
  src:  local('Noto Sans CJK JP'),
        url('chrome-extension://__MSG_@@extension_id__/fonts/NotoSansCJKjp-Bold-subset.woff2') format('woff2');
  font-weight: bold;
}
